// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  opacity: 0.7;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  &:hover {
	  border-bottom: 3px solid white;
	  text-decoration: none;	  
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}


body {
	background-color: #787878 !important;
}
 

.Nav-wrapper {
	background-color: rgba(255,255,255,0.15);
	position: relative;
	height: 160px;
	padding-top: 1px;


	.Nav-mid-wrapper {
		background-color: white;
		position: absolute;
		height: 65px;
		top: 50px;
		z-index: 100;
		width: 25%;

		.logo-text {	
			position: relative;
			z-index: 200;			
			a,p {
				color: black;
				font-size: 25px;
				line-height: 10px;
				font-weight: 200;				
			}				
		}
		
		.logo-linky {
			text-decoration: none;
		}
		
		.logo-name-span {	
			margin-left: 5px;
		}
	} /* -- Nav-mid-wrapper -- */
	
	.Nav-mid-wrapper.inner {
		position: absolute;
		z-index: 100;
		width: 28%;
		top: 50;
	}
	
	.Nav-mid-wrapper.right {
		position: absolute;
		right: 0;
		width: 5%;
	}
	
	.Nav-leftstroke {
		position: absolute;
		height: 65px;
		right: -45px;
		top: 0;
		
		img {
			height: 65px;
		}
	}
	
	.Nav-rightstroke {
		position: absolute;
		height: 65px;
		left: -45px;
		top: 0;
		
		img {
			height: 65px;
		}
	}
	
	.Nav-menu {
		float: right;
		margin-top: 35px;
		padding-right: 7%;
	
		.Navigation-link {
			color: white;
			padding: 135px 16px 16px;
			font-size: 12px;			
		}

		.Navigation-listItem {
			margin: 0 5px;
			
			&:nth-of-type(1) {
				a {	background-color: $c-red;}
			}
			&:nth-of-type(2) {
				a {	background-color: #3B1C1D;}
			}
			&:nth-of-type(3) {
				a {	background-color: #051542;}
			}
			&:nth-of-type(4) {
				a {	background-color: #123527;}
			}			
		}
	}
}/*-- Nav-wrapper --*/ 

 
.Nav-inner-leftWrap {
	background-color: white;
	margin-top: 50px;
}


.Toggle-wrap {
	display: none;
	height: 40px;
	margin-top: 150px;
	
	.Toggle-bar {
		background-color: white;
		height: 40px;
		width: 40%;
	}
	.Toggle-bar.left{
		float: left;
		position: relative;

		.Nav-leftstroke {
			position: absolute;
			height: 40px;
			right: -20px;
			top: 0;
			img {
				height: 40px;
			}
		}
	}

	.Toggle-bar.right {
		float: right;
		position: relative;

		.Nav-rightstroke {
			position: absolute;
			height: 40px;
			left: -20px;
			top: 0;
			img {
				height: 40px;
			}
		}
	}
}

.Nav-collapse-btn {
	height: 40px;
	padding: 10px;
	background-color: #fafafa;
	color: red;
}


.rightstroke-relativeBlock {
	position: relative;
	
	a:hover {
		opacity: 0.7;
	}
	
	.relativeBlock-content {
		position: absolute;
		left: 15px;
		top: 2px;
		width: 50px;
		p {
			color: white;
			line-height: 0px;
			font-size: 15px;
		}
		
		img {
			position: absolute;
			width: 30px;
			height: 20px;
			top: 5px;
			left: 58px;
		}
	}
}


.rightstroke-relativeBlock.sec {
	display: none;
}

.top-tel {
	background-image: url('../img/tel-red.png');
	background-repeat: no-repeat;
	background-color: white;
	position: absolute;
	display: none;
	width: 30px;
	height: 30px;
	border-radius: 200px;
	right: 105px;
	top: 10px;
	background-size: 23px;
	background-position: 4px;
	
	&:hover {
		opacity: 0.7;
	}
}


//=============================================================
//                  	@media queries
//=============================================================

// ------------------  NAV-wrapp media queries  --------------------

@media all and (min-width:1400px) {
	.Nav-wrapper .Nav-mid-wrapper.right {
		width: 16%;
	}
}

@media all and (max-width:1400px) {
	.Nav-wrapper .Nav-mid-wrapper.right {
		width: 12%;
	}
}

@media all and (max-width:1250px) {
	.Nav-wrapper .Nav-mid-wrapper.right {
		width: 8%;
	}
	
	.Nav-wrapper .Nav-mid-wrapper.inner {
		width: 30%;
	}
}

@media all and (max-width:1150px) {
	.Nav-wrapper .Nav-mid-wrapper.inner {
		width: 34%;
	}
}


@media all and (max-width:1100px) {
	.Nav-wrapper .Nav-menu {
		padding-right: 9%;
	}
}

@media all and (max-width:1060px) {
	.Nav-wrapper .Nav-menu {
		padding-right: 12%;
	}
}

@media all and (max-width:1000px) {
	.Nav-wrapper .Nav-menu {
		padding-right: 13%;
	}
	
	.Nav-wrapper .Nav-mid-wrapper.inner {
		width: 95%;
	}

}


@media all and (max-width:670px) {
	.Toggle-wrap .Toggle-bar {
		width: 39%;
	}
}

@media all and (max-width:570px) {
	.Toggle-wrap .Toggle-bar {
		width: 38%;
	}
}

@media all and (max-width:470px) {
	.Toggle-wrap .Toggle-bar {
		width: 37%;
	}
}

@media all and (max-width:400px) {
	.Toggle-wrap .Toggle-bar {
		width: 15%;
	}
	
	.Navigation-menuToggle {
		margin-left: 27% !important;
	}
}

@media all and (max-width:300px) {
	.Navigation-menuToggle {
		margin-left: 24% !important;
	}
}

// ------------------  NAV-wrapp media queries  --------------------


@media all and (max-width: 400px) {

}




@media all and (max-width:1000px) {
	.dis-none {
		display: none;
	}

	.rightstroke-relativeBlock.sec {
		display: block;
		position: absolute;
		right: 110px;
		top: 7px;
	}

	.top-tel {
		display: block;
	}
	
	.Navigation-link.is-active {
	  opacity: 1;
	  padding: 5px 0;
	  background-color: white;	  
	}
	
	.Navigation-listItem {		
		&:nth-of-type(1) {
			a.Navigation-link.is-active {
				background-color: white;
				border: 5px solid $c-red;
				color: $c-red;
				font-weight: 600;
			}
		}
		&:nth-of-type(2) {
			a.Navigation-link.is-active {
				background-color: white;
				border: 5px solid #3B1C1D;
				color: #3B1C1D;
				font-weight: 600;
			}
		}
		&:nth-of-type(3) {
			a.Navigation-link.is-active {
				background-color: white;
				border: 5px solid #051542;
				color: #051542;
				font-weight: 600;
			}
		}
		&:nth-of-type(4) {
			a.Navigation-link.is-active {
				background-color: white;
				border: 5px solid #123527;
				color: #123527;
				font-weight: 600;
			}
		}			
	}
	
	
	.Nav-wrapper {
		height: auto;
		padding-bottom: 20px;
		.Nav-menu {
			background-color: white;
			padding: 0 25px;
			border-radius: 20px;
			width: 100%;
			margin-top: 20px;
			
			.Navigation-link {
				display: block;
				padding: 10px 0;
				font-size: 16px;
				border-radius: 10px;
				
				&:hover {
					border-bottom: 0px solid;
				}
			}
		}
		
		.Nav-mid-wrapper {
			width: 100%;
			a {
				text-decoration: none;
			}
		}
		.Navigation-list {
			margin: 0;
		}
	}
	
	.Toggle-wrap {
		display: block;
		
		.Toggle-bar.right {
			.Nav-rightstroke img  {
				height: 40px;
			}
		}
		.Toggle-bar.left {
			.Nav-leftstroke img  {
				height: 40px;
			}
		}
	}
	
	.Nav-inner-leftWrap {
		margin-top: 0;
	}
}

@media all and (max-width:1000px) {
	.Nav-leftstroke, Nav-rightstroke {
	//	display: none;
	}

	.Nav-wrapper {
		background-color: rgba(140,0,0,0.2);
		
		.Icon.Icon--inline {
			fill: rgba(140,0,0,1);
		}
	}

	
	.page-id-5 {	
		.Nav-wrapper {
			background-color: rgba(140,0,0,0.2);
			
			.Icon.Icon--inline {
				fill: rgba(140,0,0,1);
			}
		}
	}
	
	.page-id-7 {
		.top-tel {
			background-image: url('../img/tel-brown.png');
		}

		.Nav-wrapper {
			background-color: rgba(59,28,29,0.2);

			.Icon.Icon--inline {
				fill: rgba(59,28,29,1);
			}
		}
	}
	
	.page-id-9 {
		.top-tel {
			background-image: url('../img/tel-blue.png');
		}

		.Nav-wrapper {
			background-color: rgba(5,21,67,0.2);

			.Icon.Icon--inline {
				fill: rgba(5,21,67,1);
			}
		}
	}

	.page-id-11 {
		.top-tel {
			background-image: url('../img/tel-green.png');
		}

		.Nav-wrapper {
			background-color: rgba(18,54,38,0.2);

			.Icon.Icon--inline {
				fill: rgba(18,54,38,1);
			}
		}
	}
}