// *************************************
//
// Nav-Toggle
// -> Nav-toggle
//
// *************************************

.Navigation-menuToggle  {
  display: block;
  @media all and (min-width: 1000px) {
    display: none;
  }
}

.Navigation-menuToggle {
	background-color: white;
	cursor: pointer;
	float: left;
    width: 70px;
    height: 70px;
    margin-left: 6%;
    border-radius: 7px;
    margin-top: -15px;
    border: 5px solid white;

	
	&:hover {
		background-color: #fafafa;
		border: 5px solid red;
	}
}


#js-navCollapseTarget {
  @media all and (max-width: 1000px) {
    display: none;
  }
}